body{
    font-family: "Lucida Console";
}

h1{
    text-align: center;
    position: flex;
    padding-top: 150px;
    padding-bottom: 50px;
}
.nav-group{
    width: 100%;
}
.btnz{
    text-align: right;
    padding-top: 25px;
}
.stopka{
    padding-top: 75px;
}